<!-- navbar.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>AdminNavBar</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/images/BetterQualityLogo.png" alt="Turtle Shelter Logo" class="logo-image">
                <span class="logo-title" onclick="location.href='/'">TURTLE SHELTER PROJECT</span>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/adminmanage">Manage Admins</a></li>
                    <li><a href="/eventmanage">Manage Events</a></li>
                    <li><a href="/volunteermanage">Manage Volunteers</a></li>
                    <li><a href="/admincalendar">Calendar</a></li>
                    <li><a href="/login" class="btn login-btn">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>