
    <footer>
        <!-- Social media links section -->
        <div class="social-links">
            <!-- Link to Turtle Shelter Project Facebook page -->
            <a href="https://www.facebook.com/turtleshelterproject/" target="_blank" class="social-icon">
                <!-- Font Awesome Facebook icon -->
                <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Link to Turtle Shelter Project Instagram page -->
            <a href="https://www.instagram.com/turtleshelterproject/" target="_blank" class="social-icon">
                <!-- Font Awesome Instagram icon -->
                <i class="fab fa-instagram"></i>
            </a>
            <!-- Link to Turtle Shelter Project YouTube channel -->
            <a href="https://www.youtube.com/@turtleshelterproject7915" target="_blank" class="social-icon">
                <!-- Font Awesome YouTube icon -->
                <i class="fab fa-youtube"></i>
            </a>
            <!-- Link to send email to Turtle Shelter Project -->
            <a href="mailto:turtleshelterproject@gmail.com" target="_blank" class="social-icon">
                <!-- Font Awesome envelope (email) icon -->
                <i class="fas fa-envelope"></i>
            </a>
        </div>
        <!-- Contact information section -->
        <div class="contact-info">
            <p>
                TURTLE SHELTER PROJECT, PO BOX 382, KAYSVILLE, UT 84037 &nbsp;&nbsp;
                801-872-3190 &nbsp;&nbsp;
            </p>
        </div>
        <!-- Copyright information -->
        <p>&copy; <%= new Date().getFullYear() %> Turtle Shelter Project. All Rights Reserved.</p>
    </footer>
