</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/images/BetterQualityLogo.png" alt="Turtle Shelter Logo" class="logo-image">
                <span class="logo-title" onclick="location.href='/'">TURTLE SHELTER PROJECT</span>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/donate">Donate</a></li>
                    <li><a href="/about">About</a></li>

                    <% if (user) { %>
                        <!-- Display Logout button if user is logged in -->
                        <li><a href="/logout" class="btn logout-btn">Logout</a></li>
                    <% } else { %>
                        <!-- Display Login button if user is not logged in -->
                        <li><a href="/login" class="btn login-btn">Login</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
