</head>
<body>
    <header>
        <div class="container">
            <!-- Logo section of the header -->
            <div class="logo">
                <!-- Logo image for Turtle Shelter -->
                <img src="/images/BetterQualityLogo.png" alt="Turtle Shelter Logo" class="logo-image">
                <!-- Project title which redirects to the homepage when clicked -->
                <span class="logo-title" onclick="location.href='/'">TURTLE SHELTER PROJECT</span>
            </div>
            <!-- Navigation menu -->
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/volunteer">Volunteer</a></li>
                    <li><a href="/donate">Donate</a></li>
                    <li><a href="/about">About</a></li>
            
                    <% if (user) { %> <!-- Check if user is logged in -->
                        <li><a href="/volunteerhome" class="btn my-page-btn">Hello, <%= user.firstname %></a></li>
                        <li><a href="/logout" class="btn logout-btn">Logout</a></li>
                    <% } else { %>
                        <li><a href="/login" class="btn login-btn">Login</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
